{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta</title>
    <!--titulo da minha página-->
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}

    <form action="/savepoint" method="POST">
    
        <h1>Cadastro do ponto de coleta</h1>

        <!--PRIMEIRO CAMPO-->

        <fieldset>
            <legend>
                <!--Titulo do formulario, ou do bloco-->
                <h2>Dados da Entidade</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <!--caixa a ser preenchida-->
                    <label for="name">Nome da Entidade</label>
                    <!--título do que vai ser preenchido-->
                    <input type="text" name="name" required="required"><!--campo preenchido pelo usuário--></div>
                <div class="field">
                    <label for="name">Imagem da Entidade</label>
                    <input type="url" name="image" placeholder="http://" required="required">
                </div>
            </div>

            <div class="field-group">
                <!--é um grupo porque terá mais de um campo na mesma linha-->
                <div class="field">
                    <label for="address">Endereço</label>
                    <!--título do que vai ser preenchido-->
                    <input type="text" name="address" required="required">
                    <!--campo preenchido pelo usuário-->
                </div>
                <div class="field">
                    <label for="address2">Número/Complemento</label>
                    <input type="text" name="address2" required="required">
                    <!--usar o tipo "texto" pro campo aceitar caracteres que não sejam numeros-->
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>
                    <!--ao inves de input, o usuário poderá escolher as opções sugeridas-->

                    <input type="hidden" name="state">
                    <!--mudar id na url que vai receber o nome do estado-->
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <!--será filtrada conforme resposta do estado no campo anterior-->
                    <select name="city" disabled="disabled" required="required">
                        <!--não deixará o campo disponível antes de ter o estado selecionado-->
                        <option value="">Selecione a Cidade</option>
                    </select>
                </div>

            </div>

        </fieldset>

        <!--SEGUNDO CAMPO-->

        <fieldset>
            <legend>
                <h2>Ítens de coleta</h2>
                <span>Selecione um ou mais ítens abaixo</span>
            </legend>

            <div class="items-grid">
                <li data-id="Lâmpadas">
                    <!--item 1-->
                    <img src="/extras-aula-1/icones/lampadas.svg" alt="Lâmpadas">
                    <span>Lâmpadas</span>
                </li>
                <li data-id="Pilhas e Baterias">
                    <img src="/extras-aula-1/icones/baterias.svg" alt="Pilhas e Baterias">
                    <span>Pilhas e Baterias</span>
                </li>
                <li data-id="Papéis e Papelão">
                    <img src="/extras-aula-1/icones/papeis-papelao.svg" alt="Papéis e Papelão">
                    <span>Papéis e Papelão</span>
                </li>
                <li data-id="Resíduos Eletrônicos">
                    <img src="/extras-aula-1/icones/eletronicos.svg" alt="Resíduos Eletrônicos">
                    <span>Resíduos Eletrônicos</span>
                </li>
                <li data-id="Resíduos Orgânicos">
                    <img src="/extras-aula-1/icones/organicos.svg" alt="Resíduos Orgânicos">
                    <span>Resíduos Orgânicos</span>
                </li>
                <li data-id="Óleo de Cozinha">
                    <img src="/extras-aula-1/icones/oleo.svg" alt="Óleo de Cozinha">
                    <span>Óleo de Cozinha</span>
                </li>

            </div>

            <input type="hidden" name="items">

        </fieldset>

        <button type="submit">Cadastrar ponto de coleta</button>

    </form>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include "partials/point-created.html" %}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}