/* DIVISÃO DE CORES DO BACKGROUND*/
body::after {
    content: ""; /*criei um objeto vazio*/
    position: fixed;
    background: white;
    top: 260px;
    height: 0;
    width: 0;
    bottom: 0;
    z-index: -1; /*isso quer dizer que ele será jogado para trás dos outros elementos*/
}

#page-search-results {
    /*posição em relação a página*/
    width: 90%;
    max-width: 1100px;
    /*alinhamento da caixa pelo lado de fora*/
    margin: 0 auto;
}
    
#page-search-results header {
    /*posição das caixas de texto - superior*/
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-search-results header a { 
    /*propriedades da font - cor, peso, posição etc*/
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-search-results header a span {
    /*configurações do ícone usado*/
    background-image: url('../extras-aula-1/icones/arrow-left.svg');
    margin-right: 16px ;
    display: flex;
    width: 20px;
    height: 24px;
}

main {
    margin: 48px;

}

main h4{
    font-weight: normal;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main .card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;

    object-fit: cover; /*vai ajustar a imagem no tamanho certo sem esticar*/
}

main .card h1 {
    margin: 32px 0;

    font-size: 36px;
    line-height: 41px;
    color: #322153;
}

main .card h3 {
    margin: 24px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: var(--primary-color);
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C80;
}

